<form #form="ngForm" (ngSubmit)="submitForm(form.value)" [formGroup]="userForm">
  <div class="row">
    <div class="d-flex flex-column col-6 mb-3">
      <label for="name" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control-modal"
        id="name"
        formControlName="nome"
      />
      <app-validation-message />
    </div>
    <div class="d-flex flex-column col-6 mb-3">
      <label for="sobrenome" class="form-label">Sobrenome</label>
      <input
        type="text"
        class="form-control-modal"
        id="sobrenome"
        formControlName="sobrenome"
      />
      <app-validation-message />
    </div>
    <div class="d-flex flex-column col-6 mb-3">
      <label for="telefone" class="form-label"
        >Telefone<span class="text-gray"> - Opcional</span></label
      >
      <input
        type="text"
        class="form-control-modal"
        id="telefone"
        formControlName="telefone"
      />
      <app-validation-message />
    </div>
    <div class="d-flex flex-column col-6 mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control-modal"
        id="email"
        formControlName="email"
      />
      <app-validation-message />
    </div>
    <div class="d-flex flex-column col-12 mb-3">
      <label for="perfil-acesso" class="form-label">Perfil de acesso</label>
      <p-multiSelect
        [options]="perfilDropdown"
        [(ngModel)]="selectedPerfil"
        formControlName="perfil"
      ></p-multiSelect>
      <app-validation-message />
    </div>
    <div class="d-flex flex-column col-6 mb-3">
      <label for="idioma">Idioma</label>
      <select class="form-control-modal" formControlName="idioma" id="idioma">
        <option value="" hidden>Selecione o idioma</option>
        <option value="1">Português BR</option>
        <option value="2">Inglês</option>
        <option value="3">Espanhol</option>
      </select>
      <app-validation-message />
    </div>
    <div class="d-flex flex-column col-6 mb-3">
      <label for="contato-preferencial"
        >Contato preferencial<span class="text-gray"> - Opcional</span></label
      >
      <div class="row">
        <div class="col-4">
          <input
            type="radio"
            formControlName="contatoPreferencial"
            id="emailRadio"
            value="email"
          />
          <label class="ms-2" for="emailRadio">E-mail</label>
        </div>
        <div class="col-4">
          <input
            type="radio"
            formControlName="contatoPreferencial"
            id="telefoneRadio"
            value="telefone"
          />
          <label class="ms-2" for="telefoneRadio">Telefone</label>
        </div>
        <div class="col-4">
          <input
            type="radio"
            formControlName="contatoPreferencial"
            id="todos"
            value="todos"
          />
          <label class="ms-2" for="todos">Todos</label>
        </div>
      </div>
    </div>
  </div>
  <div class="border-0 d-flex justify-content-between p-1">
    <button type="button" class="btn-close-form" data-bs-dismiss="modal">
      Fechar
    </button>
    <button type="submit" class="btn-submit-form" [disabled]="form.invalid">
      Enviar convite
    </button>
  </div>
</form>
