<app-modal
  [isVisible]="isModalVisible"
  (close)="onModalClose()"
  (setUser)="setUser($event)"
  [userData]="userData"
  [users]="users"
  [isEditing]="isEditing"
/>
<div class="header-table d-flex justify-content-between my-3">
  <div class="actions-table d-flex align-items-center gap-3">
    <div class="input-search position-relative">
      <input
        type="text"
        pInputText
        placeholder="Pesquise pelo nome ou e-mail"
        [(ngModel)]="nameFiltered"
        (ngModelChange)="filteringTable()"
      />
      <i class="pi pi-search icon-search"></i>
    </div>
    <div class="select-filter">
      <select [(ngModel)]="selectedStatus" (change)="filteringTable()">
        <option value="" disabled selected>Filtrar</option>
        <option *ngFor="let option of statusOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-button">
    <button type="button" (click)="openModal()">Novo usuário</button>
  </div>
</div>
<div class="content-table">
  <p-table
    [value]="dataFiltered"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="header">
      <tr class="header-line">
        <th class="ps-3">Usuários</th>
        <th>Status</th>
        <th pSortableColumn="creationDate">
          Data de criação
          <i width="20" height="20" class="pi pi-chevron-down"></i>
        </th>
        <th pSortableColumn="lastAcess">
          Último acesso
          <i width="20" height="20" class="pi pi-chevron-down"></i>
        </th>
        <th class="pe-3"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
      <tr
        class="body-line"
        [ngClass]="{ odd: rowIndex % 2 === 0, even: rowIndex % 2 !== 0 }"
      >
        <td class="ps-3">
          <div class="d-flex align-center gap-1">
            <div class="p-1">
              <app-initials-icon
                [firstName]="user.firstName"
                [lastName]="user.lastName"
              ></app-initials-icon>
            </div>
            <div class="d-flex flex-column">
              <div class="fw-bold">{{ user.fullName }}</div>
              <div class="gray">{{ user.email }}</div>
            </div>
          </div>
        </td>
        <td
          [ngClass]="{
            ativo: user.status === 'Ativo',
            pendente: user.status === 'Pendente',
            bloqueado: user.status === 'Bloqueado'
          }"
        >
          <span>{{ user.status }}</span>
        </td>
        <td>{{ user.creationDate }}</td>
        <td>{{ user.lastAcess }}</td>
        <td class="pe-3">
          <p-overlayPanel #op>
            <ul class="list-menu">
              <li role="menuitem" (click)="delete(user)">
                <a href="#" class="p-menuitem-link">
                  <span class="p-menuitem-icon pi pi-times"></span>
                  <span class="p-menuitem-text">Deletar</span>
                </a>
              </li>
              <li role="menuitem" (click)="edit(user)">
                <a href="#" class="p-menuitem-link">
                  <span class="p-menuitem-icon pi pi-pencil"></span>
                  <span class="p-menuitem-text">Editar</span>
                </a>
              </li>
            </ul>
          </p-overlayPanel>
          <p-button
            (click)="op.toggle($event)"
            icon="pi pi-ellipsis-v"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Nenhum usuário encontrado.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
