<div class="modal" [ngClass]="{ show: isVisible }" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="header-modal d-flex justify-content-between">
      <h1 class="modal-title fw-bold">Adicionar usuário</h1>
      <span class="close" (click)="onClose()">&times;</span>
    </div>
    <p>Aqui você adiciona e configura os usuários que fazem parte da sua equipe</p>
    <form
      #form="ngForm"
      (ngSubmit)="submitForm(form)"
      [formGroup]="userForm"
    >
      <div class="row">
        <div class="form-group d-flex flex-column col-12 col-md-6 mb-3">
          <label for="name" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
          />
          <app-validation-message />
        </div>
        <div class="form-group d-flex flex-column col-12 col-md-6 mb-3">
          <label for="sobrenome" class="form-label">Sobrenome</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
          <app-validation-message />
        </div>
        <div class="form-group d-flex flex-column col-12 col-md-6 mb-3">
          <label for="telefone" class="form-label"
            >Telefone<span class="text-gray"> - Opcional</span></label
          >
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon p-0">
              <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" formControlName="flag" optionLabel="code" (onChange)="setMask()">
                <ng-template let-country pTemplate="selectedItem">
                  <div class="country-item">
                    <img [src]="country.flag" class="flag" alt="{{country.name}}" />
                  </div>
                </ng-template>
              </p-dropdown>
            </span>
            <input class="input-number p-0" formControlName="phone" type="text" pInputText [mask]="mask" />
          </div>
        </div>
        <div class="form-group d-flex flex-column col-12 col-md-6 mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <app-validation-message />
        </div>
        <div class="form-group d-flex flex-column col-12 mb-3">
          <label for="perfil-acesso" class="form-label">Perfil de acesso</label>
          <p-multiSelect
            [options]="perfilDropdown"
            [(ngModel)]="selectedPerfil"
            formControlName="perfilAcess"
            dataKey="code"
            [disabled]="isEditing"
          ></p-multiSelect>
          <app-validation-message />
        </div>
        <div class="form-group d-flex flex-column col-12 col-md-6 mb-3">
          <label for="idioma">Idioma</label>
          <select class="form-control select-idioma" formControlName="language" id="language">
            <option value="" hidden>Selecione o idioma</option>
            <option value="1">Português BR</option>
            <option value="2">Inglês</option>
            <option value="3">Espanhol</option>
          </select>
          <app-validation-message />
        </div>
        <div class="d-flex flex-column col-12 col-md-6 mb-3">
          <label for="contato-preferencial"
            >Contato preferencial<span class="text-gray">
              - Opcional</span
            ></label
          >
          <div class="row">
            <div class="col-4">
              <input
                type="radio"
                formControlName="contactPreferential"
                id="emailRadio"
                value="email"
              />
              <label class="ms-2" for="emailRadio">E-mail</label>
            </div>
            <div class="col-4">
              <input
                type="radio"
                formControlName="contactPreferential"
                id="telefoneRadio"
                value="telefone"
              />
              <label class="ms-2" for="telefoneRadio">Telefone</label>
            </div>
            <div class="col-4">
              <input
                type="radio"
                formControlName="contactPreferential"
                id="todos"
                value="todos"
              />
              <label class="ms-2" for="todos">Todos</label>
            </div>
          </div>
        </div>
      </div>
      <div class="border-0 d-flex justify-content-between p-1 gap-3">
        <div class="btn-close-form d-flex justify-content-center align-items-center">
          <button type="button" (click)="onClose()">
            Fechar
          </button>
        </div>
        <button type="submit" class="btn-submit-form" [disabled]="form.invalid">
          Enviar convite
        </button>
      </div>
    </form>
  </div>
</div>
