.modal-dialog {
  max-width: 700px;
}

.btn-close-form {
  outline: none;
  border: none;
  background-color: unset;
}
.btn-close-form, .btn-submit-form {
  width: 50%;
}
.btn-close-form {
  color: #5047ED;
}
.btn-submit-form {
  background-color: #5047ED;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #fff;
  font-weight: 300;
  padding: 0.5rem 2rem;
}

.modal-body .form-control-modal{
  border-radius: 10px;
  border: 1px solid #E8E8E8;
  padding: 0.5rem 1rem;
  width: 100%;
}

.text-gray {
  color: #c7c7c7;
  font-style: italic;
  font-size: 0.8rem;
}

::ng-deep .p-multiselect {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #E8E8E8;
  padding: 0.5rem 1rem;
  .p-multiselect-label {
    padding: 0;
  }
}
