.modal-dialog {
  max-width: 700px;
}

.btn-close-form {
  outline: none;
  border: none;
  background-color: unset;
}
.btn-submit-form {
  background-color: #5047ED;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #fff;
  padding: 0.3rem 2rem;
}
