/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "primeicons/primeicons.css";

body {
  font-family: "Poppins", sans-serif;
  background-color: #F6F8FA;
}
input:focus, select:focus {
  outline: none;
  box-shadow: none;
}

.form-control {
  border-radius: 10px;
}
